.signup_container {
  width: 800px;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  font-family: "Rajdhani";
}

.signup_form_container {
  position: relative;
  top: -76px;
  left: -150px;
  width: 800px;
  height: 450px;
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.left-signUp {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://res.cloudinary.com/ds4gbbc6g/image/upload/v1665863255/Vatika/React%20FrontEnd/leaves_htc5sb.png");
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 50%;
  z-index: +1;
}

.left-signUp h1 {
  font-family: "Patrick Hand SC", cursive;
  margin-top: 0;
  color: white;
  font-size: 35px;
  align-self: center;
}

.right-signUp {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.right-signUp h1 {
  font-family: "Patrick Hand SC", cursive;
  font-size: 35px;
  margin-top: 0;
}

.error_msg {
  width: 370px;
  padding: 15px;
  margin: 5px 0;
  font-size: 14px;
  background-color: #f34646;
  color: white;
  border-radius: 5px;
  text-align: center;
  letter-spacing: 2px;
}

.white_btn,
.green_btn {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: white;
  border-radius: 20px;
  width: 180px;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  letter-spacing: 2px;
}

.green_btn {
  background-color: #208854;
  margin: 10px;
}
