/* Cart */
.cart {
  font-family: "Rajdhani", sans-serif;
  letter-spacing: 0.1rem;
}

.cart .side-by-side {
  display: flex;
}

.cart .steps {
  width: 30rem;
  margin-left: 15%;
  margin-top: 1%;
}

.cart .plants {
  margin: 2%;
  margin-top: 0;
  width: 62rem;
}

.cart .plants .totalItem .endLine {
  border: 0.1px solid #767676;
  width: 94%;
}

.cart .plants .totalItem h2 {
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 10rem;
}

.cart .plants h1 {
  font-family: "Patrick Hand SC", cursive;
  letter-spacing: 0.1rem;
  font-weight: 600;
  font-size: 2.5rem;
}

.cart .plants .item {
  display: flex;
  border-top: 1px solid gray;
  padding: 1rem;
  width: 58rem;
}

.cart .plants .item img {
  height: 10rem;
  width: 10rem;
}
.cart .plants .item .pot {
  margin-left: 2%;
  margin-top: 1%;
  width: 15rem;
}

.cart .plants .item p {
  margin-bottom: 2%;
  margin-top: 15%;
  font-weight: 600;
}

.cart .plants .item label {
  margin-right: 5%;
  margin-left: 0.1rem;
}

.cart .plants .item .redRadio {
  accent-color: red;
}

.cart .plants .item .blackRadio {
  accent-color: black;
}
.cart .plants .item .greenRadio {
  accent-color: green;
}

.cart .plants .item .quantity {
  display: flex;
  margin-top: 4%;
  margin-left: 5%;
}

.cart .plants .item .quantity h2 {
  margin: 0 1rem;
}

.cart .plants .item .quant-icon {
  font-size: 1rem;
  margin-top: 0.4rem;
  cursor: pointer;
}

.cart .plants .item .rate {
  margin-top: 1%;
  margin-left: 12rem;
}

.cart .plants .item button {
  background-color: red;
  color: #fff;
  border: none;
  margin-top: 4rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.cart .summary {
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  width: 18rem;
  height: 35rem;
  background-color: #e6e5e5;
}

.cart .summary h1 {
  font-family: "Patrick Hand SC", cursive;
  letter-spacing: 0.1rem;
  font-weight: 600;
  font-size: 2.5rem;
}

.cart .summary .line {
  margin-top: 5%;
  margin-bottom: 5%;
  border: 0.01rem solid #767676;
}

.cart .summary input {
  background-color: transparent;
  padding: 0.2rem;
  border: 0.1rem solid #767676;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
}

.cart .summary label {
  margin-left: 0.2rem;
}

.cart .summary .apply {
  background-color: #767676;
  color: #fff;
  width: 4rem;
  height: 2rem;
  border: none;
  border-radius: 0.5rem;
}

.cart .summary .total h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #208854;
}

.cart .summary .total span {
  margin-left: 35%;
}

.cart .summary .total .discount {
  color: red;
}

.cart .summary .checkout {
  color: #fff;
  border: none;
  background-color: #208854;
  border-radius: 0.2rem;
  height: 2.5rem;
  margin-top: 10%;
  margin-bottom: 5%;
  font-size: 1.2rem;
  width: 100%;
  cursor: pointer;
}

.cart .summary .shopping {
  color: #fff;
  border: none;
  background-color: #767676;
  border-radius: 0.2rem;
  height: 2.5rem;
  margin-bottom: 5%;
  font-size: 1.2rem;
  width: 100%;
  cursor: pointer;
}

/* Responsive */
@media only screen and (max-width: 390px) {
  .cart .side-by-side {
    flex-wrap: wrap;
    position: relative;
    top: -10px;
    left: 10px;
  }
  .cart .plants .item {
    flex-direction: column;
  }
  .cart .plants .item .quantity {
    position: relative;
    left: -27px;
  }
  .cart .plants .item .rate {
    position: relative;
    left: -170px;
    top: 20px;
  }
  .cart .plants .item button {
    position: relative;
    top: -20px;
  }
}
