.checkout {
  font-family: "Rajdhani", sans-serif;
  letter-spacing: 0.1rem;
  margin-bottom: 2%;
}

.flexFilter {
  display: flex;
  margin-left: 2%;
  justify-content: space-between;
}

.checkout .steps {
  width: 30rem;
  margin-left: 15%;
  margin-top: 1%;
}

.flexFilter .locationCard {
  border-top: 0.1rem solid gray;
  padding-top: 5%;
  width: 45rem;
}

.addressCard h1 {
  font-family: "Patrick Hand SC", cursive;
  letter-spacing: 0.1rem;
  font-weight: 600;
  font-size: 2.5rem;
}

.addressCard .locationCard {
  display: flex;
}

.addressCard .locationCard .noAddress {
  color: rgb(174, 174, 174);
  font-size: 1.5rem;
  margin-left: 15rem;
}

/* newCard */
.savedCard {
  position: relative;
  width: 12rem;
  padding: 0.5rem;
  border: 0.1rem solid #208854;
  border-radius: 1rem;
  margin-right: 2rem;
  transition: 0.5s;
}

.newCard {
  background-color: #208854;
  color: white;
  transition: 0.5s;
}

.newCard h2 {
  color: white;
}

.savedCard h2 {
  font-weight: 600;
}

/* selected */
.savedCard button {
  background-color: #208854;
  color: white;
  border-radius: 0.5rem;
  border: 0.1rem solid white;
  cursor: pointer;
  transition: 0.5s;
}

.savedCard .selected {
  background-color: white;
  color: #208854;
  border: 0.1rem solid #208854;
  transition: 0.5s;
}

.savedCard .deleteIcon {
  position: absolute;
  right: 2rem;
  font-size: 1rem;
  padding: 0.2rem;
  background-color: rgb(255, 103, 103);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.savedCard .deleteIcon:hover {
  background-color: red;
}

.leadDetails {
  margin-top: 2%;
}

.leadDetails h2 {
  font-family: "Patrick Hand SC", cursive;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
}

.leadDetails .fullName {
  display: flex;
}

.leadDetails Input {
  border-radius: 0.5rem;
  border-color: rgb(62, 62, 62);
}
.leadDetails Input::placeholder {
  color: rgb(104, 104, 104);
}

.leadDetails .firstName {
  width: 300px;
  margin-right: 1rem;
}

.leadDetails .lastName {
  width: 300px;
}

.leadDetails .addressFld {
  width: 620px;
}

.leadDetails .city {
  display: flex;
}

.leadDetails .cityFld {
  width: 196px;
  margin-right: 1rem;
}

.leadDetails .save-button {
  width: 8rem;
  padding: 0.3rem;
  background-color: gray;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  border-radius: 0.5rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  border: 0.2rem solid gray;
}

.leadDetails .save-button:hover {
  border: 0.2rem solid black;
}

.sidePanel {
  width: 30rem;
  padding: 2rem;
  background-color: lightgray;
  border-radius: 5px;
}

.sidePanel h1 {
  font-family: "Patrick Hand SC", cursive;
  letter-spacing: 0.1rem;
  font-weight: 600;
  font-size: 2rem;
}

.sidePanel .balanceText {
  color: gray;
  font-weight: 600;
  font-size: 1.2rem;
}

.sidePanel .balanceText .coin-image {
  width: 50px;
  height: 50px;
}

.sidePanel .balanceText .amount {
  color: black;
  font-weight: 600;
  margin-left: 0.5rem;
}

.sidePanel .balanceText .amount .right-tick {
  width: 30px;
  height: 20px;
}

.sidePanel .paymentMethod {
  margin-top: 1rem;
  font-size: 20px;
  font-weight: 600;
}

.sidePanel .allMethod {
  display: flex;
  flex-direction: column;
}

.sidePanel .allMethod .method {
  margin-bottom: 0.5rem;
}

.sidePanel .radioButton {
  height: 15px;
  width: 15px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.sidePanel .labelText {
  font-size: 1.2rem;
}

.sidePanel .radioIcons {
  width: 30px;
  height: 30px;
  margin-left: 1rem;
}

.sidePanel .radioUPIIcons {
  width: 50px;
  height: 40px;
  margin-left: 0.5rem;
}

.sidePanel .totalText {
  margin-top: 6%;
  font-size: 1.5rem;
  font-weight: 600;
}

.sidePanel .totalText span {
  margin-left: 10rem;
}

.sidePanel .superCoin {
  font-size: 1rem;
  font-weight: 600;
}

.sidePanel .superCoin span {
  margin-left: 4rem;
}

.sidePanel .finalAmount {
  font-weight: 600;
  font-size: 1.5rem;
  color: #208854;
  margin-left: 14rem;
  margin-bottom: 0;
}

.sidePanel .proceedButton {
  background-color: #208854;
  color: white;
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  letter-spacing: 0.1em;
  font-size: 1rem;
  margin-top: 5%;
  cursor: pointer;
}

.sidePanel .protectedText {
  margin-top: 5%;
  font-size: 18px;
}
