/* Deal of the Day */
.dealDay {
  letter-spacing: 0.1rem;
  background-color: #eff0ef;
  font-family: "Rajdhani", sans-serif;
}

.dealDay .deal {
  padding-bottom: 2rem;
  justify-content: center;
  display: grid;
  grid-template-areas:
    " lone rone  rtwo  rthree"
    " lone rfour rfive rsix";
  grid-gap: 1rem;
}

.dealDay .deal .left-plant {
  background-image: url("https://res.cloudinary.com/ds4gbbc6g/image/upload/v1665863254/Vatika/React%20FrontEnd/Deal_Day_Main_pspjes.png");
  width: 20vw;
  background-repeat: no-repeat;
  background-size: 100%;
  grid-area: lone;
  border-radius: 1rem;
  position: relative;
}

.dealDay .deal .left-plant h2 {
  background-color: #4e4e4e7e;
  border-radius: 0.5rem;
  font-family: "Bad Script", cursive;
  line-height: 1.4rem;
  font-weight: 600;
  margin-left: 0.9rem;
  position: absolute;
  bottom: 1rem;
  text-align: left;
}

.dealDay .deal .right-plant {
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.dealDay .deal .r-1 {
  grid-area: rone;
}

.dealDay .deal .r-2 {
  grid-area: rtwo;
}

.dealDay .deal .r-3 {
  grid-area: rthree;
}

.dealDay .deal .r-4 {
  grid-area: rfour;
}

.dealDay .deal .r-5 {
  grid-area: rfive;
}

.dealDay .deal .r-6 {
  grid-area: rsix;
}

.dealDay .deal .right-plant img {
  height: 10rem;
  width: 11rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 1rem;
}

.dealDay .deal .right-plant h3 {
  font-weight: 400;
  margin-top: 0.2rem;
  margin-left: 0.5rem;
  margin-bottom: 0;
}

.dealDay .deal .right-plant .rating {
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

.dealDay .deal .right-plant p {
  font-weight: 600;
  font-size: 1rem;
  margin-left: 0.5rem;
  margin-bottom: 0;
}

.dealDay .deal .right-plant del {
  font-weight: 600;
  font-size: 0.7rem;
  margin-left: 0.2rem;
  margin-bottom: 0;
  color: #767676;
}

.dealDay .deal .right-plant button {
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  color: white;
  border: none;
  background-color: #208854;
  border-radius: 0.3rem;
  height: auto;
  padding: 0rem 0.5rem;
}
