/* Meet Your Plant */
.meetPlant {
  display: flex;
  height: 60vh;
}

.meetPlant .information {
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.meetPlant .information h3 {
  margin-top: 2rem;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #208854;
  letter-spacing: 0.1rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.meetPlant .information p {
  letter-spacing: 0.1rem;
  margin-left: 4rem;
  margin-right: 4rem;
  font-family: "Rajdhani", sans-serif;
  font-size: 1rem;
}
