/* Testimonial */
.testimonial {
  background-image: url("https://res.cloudinary.com/ds4gbbc6g/image/upload/v1665896864/Vatika/React%20FrontEnd/try-2_obbap3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  margin: 0 auto;
  font-family: "Rajdhani", sans-serif;
}

.testimonial .slider {
  margin: 0 auto;
  background-color: #767676;
  width: 20rem;
  height: 15rem;
  border-radius: 2rem;
}

.testimonial .slider .feedback {
  color: #fff;
  margin-top: 2rem;
  text-align: center;
  font-weight: 600;
}

.testimonial .slider .feedback h2 {
  font-weight: 600;
}

.testimonial .slider .feedback img {
  margin: auto;
  height: 5rem;
  width: 5rem;
}
