.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  margin: 3rem;
}

.pagination button {
  width: 30px;
  height: 30px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  margin: 0 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: transparent;
  color: black;
  border-color:#208854 ;
}

.pagination button.active {
  font-weight: 900;
  /* border-color: #101010; */
  background: #208854;
  color: #fff;
}
