.loading {
  height: 70vh;
  letter-spacing: 0.1rem;
  position: relative;
}

.loading p {
  position: absolute;
  font-family: "Bad Script", cursive;
  font-size: 2rem;
  color: green;
  top: 10rem;
  left:35rem;
  font-weight: 600;
}
