.loading {
  height: 70vh;
  letter-spacing: 0.1rem;
  position: relative;
}

.loading h1{
  position: absolute;
  font-family: "Bad Script", cursive;
  font-size: 2rem;
  color: #208854;
  top: 10rem;
  left: 35rem;
  font-weight: 600;
}


