/* All Common Heading */
.heading {
    margin-left: 4rem;
    padding-top: 1rem;
  }
  
  .heading img {
    margin-right: 1rem;
    height: 3rem;
  }
  
  .heading h1 {
    font-family: "Patrick Hand SC", cursive;
    letter-spacing: 0.1rem;
    font-weight: 600;
    font-size: 2.5rem;
  }