@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Patrick+Hand+SC&family=Rajdhani:wght@300;400;600&display=swap");

/* font-family: 'Bad Script', cursive;
font-family: 'Patrick Hand SC', cursive;
font-family: 'Rajdhani', sans-serif; */

body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

/* .super{
  position: absolute;
  top: 0;
} */


.main {
  background-image: url("./assets/temp_1.jpg");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 30% 50%;
  position: relative;
}

/* Nav BG Color */
.bg-color {
  background-image: url("./assets/nav-image.jpg");
  height: 5.8rem;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 1;
}

/* Back Button */
.back button {
  margin-top: 2%;
  margin-left: 2%;
  border: none;
  font-size: 1.2rem;
  font-weight: 400;
  background-color: transparent;
  color: black;
  cursor: pointer;
}


